/*
* This configuration file is for local runs
*/

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
}

executor {
    name = 'local'
    cpus   = 4
    memory = '10GB'
}


process {

    withName: 'FASTP' {
        //container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
		container = 'community.wave.seqera.io/library/fastp:0.23.4--f8cefc1e5f7a782e'
        cpus = 3
        memory = 4.GB
    }

    withName: 'BWA_INDEX' {
        //container = 'quay.io/biocontainers/bwa:0.7.3a--hed695b0_5'
		container = 'community.wave.seqera.io/library/bwa:0.7.18--37afaef6d7284afe'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_FAIDX' {
        //container = 'quay.io/biocontainers/samtools:1.7--2'
		container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        cpus = 1
        memory = 4.GB
    }

    withName: 'BWA_MEM' {
        //container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
		container = 'community.wave.seqera.io/library/bwa_samtools:9aa8b5c4ec1a55e0'
        cpus = 4
        memory = 4.GB
    }

    withName: 'BCFTOOLS_CALL' {
        //container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
		container = 'community.wave.seqera.io/library/bcftools:1.21--4335bec1d7b44d11'
        cpus = 4
        memory = 6.GB
    }

}


